<html>
<head>
	<title>Online calculator</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<p>
		<form action="/add" method="POST">
			<input type="text" name="nbr1" placeholder="Number 1"/>
			<input type="text" name="nbr2" placeholder="Number 2"/>
			<input type="submit" value="ADD" class="submit_button"/>
		</form>
	</p>
	<p>
		<form action="/subtract" method="POST">
			<input type="text" name="nbr1" placeholder="Number 1"/>
			<input type="text" name="nbr2" placeholder="Number 2"/>
			<input type="submit" value="Subtract" class="submit_button"/>
		</form>
	</p>
	<p>
		<form action="/multiply" method="POST">
			<input type="text" name="nbr1" placeholder="Number 1"/>
			<input type="text" name="nbr2" placeholder="Number 2"/>
			<input type="submit" value="Multiply" class="submit_button"/>
		</form>
	</p>
	<p>
		<form action="/divide" method="POST">
			<input type="text" name="nbr1" placeholder="Number 1"/>
			<input type="text" name="nbr2" placeholder="Number 2"/>
			<input type="submit" value="Divide" class="submit_button"/>
		</form>
	</p>
	<p>
		<a href="/count">Count to 200</a>
	</p>


</body>
</html>




